{% extends '::base.html.twig' %}

{% block body %}
    <h2>{{ contact.name }}</h2>
    {{ form_start(formPhone) }}
    {{ form_widget(formPhone) }}
    <button type="submit">Save</button>
    {{ form_end(formPhone) }}
{% endblock %}